.toaster {
  color: #f43f5e;
  font-size: 15px;
  padding: 15px;
  border-width: 1px;
  border-color: #f43f5d17;
  border-style: solid;
  border-radius: 5px;
  background-color: #f43f5d1f;
  opacity: 0;
  transition: opacity 1s;
}

.toaster-container {
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 1000;
}

.toaster.exited {
  color: #f43f5e;
  opacity: 0;
}

.toaster.entered {
  color: #f43f5e;
  opacity: 1;
}
